.CaseStudyPage {
  /* border: 2px solid; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 3rem; */
  width: 100%;
  animation: case_study 0.3s linear;
}
@keyframes case_study {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.case-study-header,
.case-study-para {
  padding: 2rem 10rem;
}
.case-study-header h1 {
  font-weight: 500;
}
.case-study-para .case-study-section {
  display: flex;
  padding: 3rem 10rem;
}

.case-study-para p {
  font-size: 1.5rem;
}
.case-study-para .case-study-section span {
  background-color: var(--primary);
  padding: 3rem;
  padding-top: 2rem;
  height: fit-content;
  border-radius: 1rem;
  color: var(--pure);
}

.showcase-div {
  width: 100%;
  height: 60rem;
  background-color: #f3f3f3;
  display: flex;
  /* border: 2px solid; */
  padding: 0 10rem;
}

.showcase-div > .ss-div {
  /* border: 2px solid; */
  /* width: inherit; */
  height: inherit;
}
.showcase-div .ss-details {
  padding: 10rem 3rem;
}
.showcase-div .ss-details p {
  font-size: 1.8rem;
}
.case-stidy-detail {
  padding: 2rem 10rem;
}
.case-stidy-detail > .c-info > p {
  font-size: 1.8rem;
}
.case-stidy-detail > .c-info > p > ul {
  padding-left: 2rem;
}
.c-header {
  background-color: var(--primary);
  width: 32rem;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
}
.c-header > h2 {
  font-size: 2.4rem;
  color: var(--pure);
  font-weight: 400;
}
@media (max-width: 768px) {
  .case-study-para .case-study-section {
    display: flex;
    padding: 3rem;
    flex-direction: column;
  }

  .case-study-para p {
    font-size: 1.5rem;
    text-align: justify;
  }
}
