@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --primary: #00b4d8;
  --secondary: #323232;
  --pure: #ffffff;
}

.prim-color {
  color: var(--primary);
}
