@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --primary: #00b4d8;
  --secondary: #323232;
  --pure: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}
.prim-color {
  color: var(--primary);
}
.make-it-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.114);
  display: flex;
  justify-content: center;
}

.page-title-div {
  width: fit-content;
  display: flex;
  align-items: center;
}
.back-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.page-title-div .vr-line {
  height: 100%;
  width: .2rem;
  background-color: var(--secondary);
}
.page-title-div h1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  /* background-color: var(--secondary); */
  font-weight: 400;
}
.page-title-div h1 {
  font-size: 2rem;
}
.float-right {
  display: flex;
  justify-content: end;
}
.work-btn {
  /* background-color: red; */
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
  color: var(--pure);
  font-size: 1.8rem;
  /* background-color: var(--primary); */
  background: linear-gradient(93.1deg, #00b4d8 0%, #00b4d8 0%);
  transition: 0.3s;

  box-shadow: 0px 8px 11px -3px rgba(0, 0, 0, 0.17);
}
.work-btn:hover {
  border: none;
  transform: translateY(-.5rem);
}
.d-flex {
  display: flex;
}

.d-flex-ac {
  align-items: center;
  display: flex;
}
.just-ac {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.work-ss-section {
  position: relative;
  /* border: 2px solid; */
  width: 50rem;
  padding: 3rem;
}

.work-ss-section img {
  box-shadow: 0px 28px 21px -9px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.work-detail-section {
  width: 40vw;
  padding: 5rem 8rem;
  position: relative;
  /* border: 2px solid; */
}
.work-detail-section h1 {
  font-weight: 300;
}
.hidden-work-section {
  position: relative;
  width: 100%;
  /* border: 2px solid; */
  padding: 3rem;
}
