@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --primary: #00b4d8;
  --secondary: #323232;
  --pure: #ffffff;
}

.prim-color {
  color: var(--primary);
}
.make-it-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title-div {
  width: fit-content;
  display: flex;
  align-items: center;
}

.page-title-div .vr-line {
  height: 100%;
  width: 2rem;
  background-color: var(--secondary);
  background-color: red;
}

.page-title-div h1 {
  font-size: 2rem;
}
.float-right {
  display: flex;
  justify-content: end;
}
.work-btn {
  /* background-color: red; */
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
  color: var(--pure);
  font-size: 1.8rem;
  /* background-color: var(--primary); */
  background: linear-gradient(93.1deg, #00b4d8 0%, #00b4d8 0%);
  transition: 1s;

  box-shadow: 0px 8px 11px -3px rgba(0, 0, 0, 0.17);
}
.work-btn:hover {
  border: none;

  background: rgb(0, 180, 216);
  background: linear-gradient(
    90deg,
    rgba(0, 180, 216, 1) 0%,
    rgba(0, 81, 98, 1) 100%
  );
}
