@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --primary: #00b4d8;
  --secondary: #323232;
  --pure: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 40.5%;
  }
  .mobile-navbar-section {
    display: none;
  }
}
.mobile-navbar-section {
  display: none;
}
.HeroPage {
  width: 100%;
  height: 100vh;
  /* border: 2px solid; */
  padding: 2rem;
}
.HeroPage .navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeroPage .navbar-section .brand h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: var(--secondary);
}
.HeroPage > .navbar-section > .brand > h3 > span {
  color: var(--primary);
}

.HeroPage .navbar-section .menus ul {
  list-style: none;
  display: flex;
}

.HeroPage .navbar-section .menus ul li {
  margin: 0 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: 0.1s;
}
.HeroPage .navbar-section .menus ul li:hover {
  color: var(--primary);
}

.hero-section {
  position: relative;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  padding-top: 8rem;
}

.hero-section .title-part {
  /* border: 2px solid; */
  padding-top: 4rem;
}
.hero-section .title-part h4 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.hero-section .title-part h1 {
  font-size: 7rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  /* box-shadow:  */
  text-shadow: 01px 1px 2px rgba(0, 0, 0, 0.2);
}
.hero-section .title-part button {
  padding: 1rem 3rem;
  border: 0px solid;
  background-color: var(--secondary);
  color: var(--pure);
  font-family: 'Poppins', sans-serif;
  border-radius: 1rem;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.hero-section .title-part button:hover::after {
  content: ", Let's Talk";
}

.hero-section .illustration-part {
  /* border: 2px solid; */
}
.hero-section .illustration-part img {
  width: 50rem;
  height: 40rem;
  border-radius: 2rem;
  /* border: 2px solid; */
}
/* !!  (min-width: 425px) and################# mobile view starts */
@media (max-width: 768px) {
  html {
    font-size: 30.5%;
    font-family: 'Poppins', sans-serif;
  }
  .HeroPage {
    width: 100%;
    height: fit-content;
    padding: 2rem 3rem;
  }
  .HeroPage .navbar-section {
    display: none;
  }
  .HeroPage .mobile-navbar-section {
    display: block;
  }
  .HeroPage .mobile-navbar-section .brand {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    align-items: center;
  }
  .HeroPage .mobile-navbar-section .brand h3 {
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .HeroPage .mobile-navbar-section .brand .menu-btn div {
    background-color: var(--primary);
    width: 5rem;
    height: 0.5rem;
    transform: scaleX(100%);
    margin: 1rem;
    transition: 0.2s;
    transform-origin: right;
  }

  .HeroPage .mobile-navbar-section .brand .menu-btn-open div {
    background-color: var(--primary);
    width: 5rem;
    height: 0.5rem;
    margin: 1rem;
    transform: scaleX(40%);
  }
  #mobile-navbar-section {
    transform: scaleY(0);
    transform-origin: top;
  }
  #mobile-navbar-section-menu {
    display: none;
  }
  .HeroPage .mobile-navbar-section .menus {
    position: relative;
    height: fit-content;
    background-color: var(--pure);
    margin-top: 5rem;
    transition: 0.3s;
  }
  .HeroPage .mobile-navbar-section .menus ul {
    list-style: none;
  }
  .HeroPage .mobile-navbar-section .menus ul li {
    font-size: 3.5rem;
    color: var(--secondary);
    margin-bottom: 2rem;
    padding: 2rem;
  }

  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0rem;
    align-items: center;
  }

  .hero-section .title-part {
    /* border: 2px solid; */
    padding-top: 10rem;
  }
  .hero-section .title-part h4 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .hero-section .title-part h1 {
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* box-shadow:  */
    text-shadow: 01px 1px 2px rgba(0, 0, 0, 0.2);
  }
  .hero-section .title-part button {
    padding: 1rem 3rem;
    border: 0px solid;
    background-color: var(--secondary);
    color: var(--pure);
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem;
    font-size: 1.8rem;
    transition: all 0.2s;
  }
  .hero-section .title-part button:hover::after {
    content: ", Let's Talk";
  }

  .hero-section .illustration-part {
    /* border: 2px solid; */
  }
  .hero-section .illustration-part img {
    width: 65rem;
    height: 50rem;
    border-radius: 2rem;
    /* border: 2px solid; */
  }
}
