@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --primary: #00b4d8;
  --secondary: #323232;
  --pure: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 40.5%;
  }
}

@media (min-width: 769px) {
  .MyWorkPage {
    height: fit-content;

    padding: 5rem;
    position: relative;
  }

  .MyWorkPage .exp-section p {
    font-size: 1.6rem;
    text-align: justify;
    padding-top: 1rem;
  }
  .MyWorkPage .exp-section h4 {
    font-size: 1.4rem;
  }
  .MyWorkPage .exp-section h3 {
    font-size: 2.0rem;
    letter-spacing: 1.5px;
    color: var(--secondary);
    font-weight: 500;
  }

  .MyWorkPage .exp-section {
    padding: 0 2rem;
  }

  .MyWorkPage .page-title-div {
    width: 100%;
    display: flex;
    height: 5rem;
    align-items: center;
    margin-bottom: 4rem;
  }

  .MyWorkPage .page-title-div .vr-line {
    margin: 0 1rem;
    height: 100%;
    width: .2rem;
    background-color: var(--secondary);
  }

  .MyWorkPage .page-title-div h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .MyWorkPage .work-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    column-gap: 7rem;
    row-gap: 5rem;
    margin-bottom: 3rem;
    /* border: 2px solid; */
  }
  .MyWorkPage .work-section .work-card-container {
    box-shadow: 0rem 2rem 5rem -1rem rgba(0, 0, 0, 0.05);
    /* width: 0rem; */
    max-height: fit-content;
    border: 2px solid #32323227;
    border-radius: 2rem;
    z-index: 20;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: var(--pure);
    position: relative;
    box-sizing: border-box;
  }
  .show-work {
    display: none;
    border-radius: 2rem;
  }
  @keyframes showwork {
    0% {
      transform: scaleX(0);
      transform-origin: left;
      opacity: (0);
    }
    100% {
      transform: scaleX(1);
      transform-origin: left;
      opacity: (1);
    }
  }
  .show-work span {
    border-radius: 2rem;
    animation: showwork 0.2s linear;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.269);
  }
  .MyWorkPage .work-section .work-card-container:hover .show-work {
    display: block;
  }
  .MyWorkPage .work-section .work-card-container span h1 {
    font-size: 3rem;
    font-weight: 500;
    /* background: linear-gradient(93.1deg, #00b4d8 0%, #00687c 102.59%); */
  }
  .MyWorkPage .work-section .work-card-container span p {
    font-size: 1.6rem;
    text-align: justify;
  }

  .social-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2rem;
  }
  .social-section .socials-logo {
    display: flex;
    flex-direction: space-evenly;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
  }
  .social-section .socials-logo img {
    margin: 0 4rem;
  }
  .hr-line {
    width: 100%;
    height: .21rem;
    opacity: .2;
    background-color: var(--secondary);
  }
  .social-section .resume-btn button {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 0.8rem;
    color: var(--pure);
    font-size: 2rem;

    background: linear-gradient(93.1deg, #00b4d8 0%, #00b4d8 0%);
    transition: 1s;

    box-shadow: 0px 8px 11px -3px rgba(0, 0, 0, 0.17);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 30.5%;
  }
  .MyWorkPage {
    height: fit-content;

    padding: 5rem;
    position: relative;
  }
  .MyWorkPage .exp-section p {
    font-size: 2.2rem;
    text-align: justify;
    padding-top: 1rem;
  }
  .MyWorkPage .exp-section h4 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .MyWorkPage .exp-section h3 {
    font-size: 2.6rem;
    letter-spacing: 1.5px;
    color: var(--secondary);
  }
  .MyWorkPage .page-title-div {
    width: 100%;
    display: flex;
    height: 5rem;
    align-items: center;
    margin-bottom: 4rem;
  }

  .MyWorkPage .page-title-div .vr-line {
    margin: 0 1rem;
    height: 100%;
    width: .2rem;
    background-color: var(--secondary);
  }

  .MyWorkPage .page-title-div h1 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  .MyWorkPage .work-section {
    display: flex;
    /* grid-template-columns: repeat(1, 1fr); */

    /* width: 100%; */
    flex-direction: column;
  }
  .work-section .work-card-container {
    box-shadow: 0rem 2rem 5rem -1rem rgba(0, 0, 0, 0.05);
    width: 65rem;
    height: 48rem;
    border: 2px solid #32323227;
    border-radius: 2rem;
    z-index: 20;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .work-section .work-card-container span h1 {
    font-size: 3rem;
    font-weight: 500;
    /* background: linear-gradient(93.1deg, #00b4d8 0%, #00687c 102.59%); */
  }
  .work-section .work-card-container span p {
    font-size: 2.5rem;
    text-align: justify;
  }
  .social-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2rem;
  }
  .social-section .socials-logo {
    display: flex;
    flex-direction: space-evenly;
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
  }
  .social-section .socials-logo img {
    margin: 0 4rem;
    height: 7rem;
  }

  .hr-line {
    width: 100%;
    height: .21rem;
    opacity: .2;
    background-color: var(--secondary);
  }
  .social-section .resume-btn button {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 0.8rem;
    color: var(--pure);
    font-size: 3.5rem;

    background: linear-gradient(93.1deg, #00b4d8 0%, #00b4d8 0%);
    transition: 1s;

    box-shadow: 0px 8px 11px -3px rgba(0, 0, 0, 0.17);
  }
}
